/* Reseteo de estilos */
@import url(normalyze.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generales */

body {
  background-color: #070e10;
}

body::selection {
  background: #fead37;
  color: #ffffff;
}

/* Textos y selecciones de textos */

h1 {
  all: unset;
  display: flex;
  margin-top: 3%;
  margin-left: 11%;
  margin-bottom: 2%;
  color: #ffffff;
  font-family: "Bayon", sans-serif;
  font-size: 96px;
  letter-spacing: 2px;
  line-height: 0.8;
  user-select: none;
}

/*Inputs del Form*/

button {
  cursor: pointer;
}

input {
  padding: 1rem;
  font-family: "Inter", sans-serif;
}

#categoriaImportante {
  opacity: 0%;
  margin: 0;
  background-color: #fff;
}

input[type="text"] {
  all: unset;
}

input::selection {
  background: #fead37;
  color: #ffffff;
}

main {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

#Form {
  display: flex;
  margin: 1rem;
  min-height: 3.4rem;
  border-radius: 10px;
  transition: transform 0.2s;
}

#Form:hover {
  box-shadow: 0 0 13px 1px #d9d9d98f;
  transform: scale(1.01);
}

#tarea {
  color: hsl(0, 0%, 100%);
  line-height: 100%;
  width: 86%;
  padding: 1rem;
  font-family: "Inter", sans-serif;
  user-select: none;
}

button[type="submit"] {
  text-align: center;
  transition: 0.2s;
  width: 5%;
  color: #ffffff;
  border: solid 2px #fead37;
  background-color: #fead37;
  border-radius: 0px 10px 10px 0px;
  font-family: "Inter", sans-serif;
  min-width: 4rem;
}

button[type="submit"]:hover {
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 0 0 5px 1px #fead37;
}

button[type="reset"] {
  cursor: pointer;
}

#NORMAL {
  width: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  transition: 0.2s;
  color: #ffffff;
  background: #070e10;
  margin-right: -1px;
  min-width: 7rem;
  box-shadow: inset 0px 0px 2px 1px #fead37;
}

#NORMAL::selection {
  user-select: none;
}

#NORMAL:hover {
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 0 0 5px 1px #fead37;
}

/* Animaciones de click */

input:checked + #NORMAL {
  text-decoration: underline;
  background: #fead37;
}

.click {
  animation-duration: 0.2s;
  animation-name: click;
}

@keyframes click {
  0% {
    transform: scale(1.03);
  }
  50% {
    transform: scale(0.95);
    opacity: 83%;
  }
  100% {
    transform: scale(1);
  }
}

/* Lista de Tareas */

#ClearMenu {
  display: flex;
  justify-content: space-between;
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 5.2rem;
  padding: 1rem;
  margin: 1rem;
  font-family: "Inter", sans-serif;
  margin-bottom: -2rem;
}

#listaDeTareas {
  background-color: #d9d9d9;
  border-radius: 10px;
  min-height: 25rem;
  padding: 2rem;
  margin: 1rem;
  font-family: "Inter", sans-serif;
}
#SelectAllLabel {
  display: flex;
  justify-content: center;
  align-self: center;
  cursor: pointer;
  margin: 10px;
  margin-right: 1rem;
  margin-top: -0.5rem;
  border: none;
  background: transparent;
  font-family: "Inter", sans-serif;
  color: #838383;
  transition: 0.005s;
  user-select: none;
}
#eliminarHechas,
#DeleteAll {
  margin: 10px;
  margin-right: 1rem;
  margin-top: -0.5rem;
  border: none;
  background: transparent;
  font-family: "Inter", sans-serif;
  color: #838383;
  transition: 0.2s;
  user-select: none;
}

#eliminarHechas:hover,
#DeleteAll:hover {
  color: #070e10;
  text-shadow: 0px 1px 1px #070e103b;
}

#SelectAll:checked + label {
  color: #070e10;
  font-weight: 550;
}

/* Acciones de limpieza */

#SelectAll {
  cursor: pointer;
  display: none;
}
